@CHARSET "UTF-8";
body{
	margin: 0 auto;
	width:80%;
	height:100%;
}
.right_div{
	float: right;
	width:10%;
	height:15%;
	text-align:center;
	<!--background-color: red;-->
}
.right_div_div1{
	width:100%;
	height:33%;
}
.right_div_div2{
	width:100%;
	height:33%;
}

<!--单独的页脚布局-->